@font-face {
  font-family: "iconfont"; /* Project id 4955915 */
  src: url('iconfont.woff2?t=1750650255951') format('woff2'),
       url('iconfont.woff?t=1750650255951') format('woff'),
       url('iconfont.ttf?t=1750650255951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuming:before {
  content: "\e619";
}

.icon-lock:before {
  content: "\e677";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-arrow-left-bold:before {
  content: "\e686";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-biaoqing3:before {
  content: "\e64e";
}

.icon-zengjia:before {
  content: "\e657";
}

.icon-shengyin:before {
  content: "\e64c";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiaoxi8-copy:before {
  content: "\e600";
}

.icon-add:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-close:before {
  content: "\e668";
}

.icon-home:before {
  content: "\e674";
}

.icon-loading:before {
  content: "\e676";
}

.icon-sign-out:before {
  content: "\e67e";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-wode:before {
  content: "\e636";
}

.icon-ai:before {
  content: "\e626";
}

