@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
}

.icon-home:before {
  content: '\e600';
}

.icon-message:before {
  content: '\e601';
}

.icon-publish:before {
  content: '\e602';
}

.icon-user:before {
  content: '\e603';
} 